[submodule "themes/whisper"]
	path = themes/whisper
	url = https://github.com/zerostaticthemes/hugo-whisper-theme
[submodule "public"]
	path = public
	url = https://github.com/Ubuntu-Web/ubuntu-web.github.io
